name: flutter_vodozemac
description: "Flutter bindings for the Rust Vodozemac library"
version: 0.2.1
homepage: https://famedly.com
repository: https://github.com/famedly/dart-vodozemac
issue_tracker: https://github.com/famedly/dart-vodozemac/issues

environment:
  sdk: ^3.6.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_rust_bridge: any
  plugin_platform_interface: ^2.0.2
  vodozemac: ^0.2.0

dev_dependencies:
  ffi: ^2.1.3
  ffigen: ^13.0.0
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  integration_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true
      linux:
        ffiPlugin: true
      macos:
        ffiPlugin: true
      windows:
        ffiPlugin: true
        